<!-- applause-button.css-->
<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>

<script src="https://giscus.app/client.js" data-repo="Madchristian/Madchristian.github.io" data-repo-id="R_kgDOHkSiUQ"
  data-category="Posts" data-category-id="DIC_kwDOHkSiUc4CoKuq" data-mapping="pathname" data-strict="0"
  data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="dark" data-lang="de"
  crossorigin="anonymous" async>
  </script>